body {
    background: rgb(70, 3, 70); 
    color: whitesmoke;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
}

#game-instructions {
    margin: 50px;
    height: 150px;
    width: 700px;
    padding: 20px;
    background: rgb(122, 67, 122);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align: center;
    position: fixed;
    left: 350px;
    top: 100px;
}

#game-stats {
    margin: 50px;
    height: 225px;
    width: 700px;
    padding: 20px;
    background: rgb(122, 67, 122);
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    text-align: center; 
    position: fixed;
    left: 350px;
    top: 400px;
}

#crystals {
    margin: 10px 50px;
    height: 50px;
    width: 100px;
    padding-left: 30px;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    text-align: center;
    color: black;
}

#crystal-1 {
    padding: 20px;
    background: rgb(61, 146, 65);
    position: fixed;
    left: 480px;
    top: 340px;
}

#crystal-2 {
    padding: 20px;
    background: rgb(236, 95, 95);
    position: fixed;
    left: 640px;
    top: 340px;
}

#crystal-3 {
    padding: 20px;
    background: rgb(243, 180, 86);
    position: fixed;
    left: 800px;
    top: 340px;
}

#crystal-4 {
    padding: 20px;
    background: rgb(112, 189, 219);
    position: fixed;
    left: 960px;
    top: 340px;
}

