body {
    background: rgb(0, 0, 0); 
    color: rgb(241, 240, 240);
    background-image: url("../images/cave-image-2.jpg");
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    font-size: 40px;
    text-align: center;
}

#game-instructions {
    height: 700px;
    width: 400px;
    padding: 10px 20px;
    background: rgb(15, 37, 49);
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    text-align: center;
    position: fixed;
    right: 10px;
    top: 10px;
}

#game-stats {
    height: 225px;
    width: 768px;
    padding: 20px;
    background: rgb(15, 37, 49);
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    text-align: center; 
    position: fixed;
    left: 170px;
    bottom: 80px;
}

#counter-text {
    position: absolute;
    left: 200px;
    top: 50px;
}

#target-text {
    position: absolute;
    left: 200px;
    top: 150px;
}

#wins-text {
    position: absolute;
    left: 500px;
    top: 50px;
}

#losses-text {
    position: absolute;
    left: 500px;
    top: 150px;
}

#crystals {
    height: 200px;
    width: 800px;
    background: rgb(15, 37, 49);
    opacity: 0.8;
    position: fixed;
    left: 170px;
    top: 150px;
}

#crystal-1 {
    padding: 20px;
    position: absolute;
    left: 50px;
    top: 50px;
}

#crystal-2 {
    padding: 20px;
    position: absolute;
    left: 245px;
    top: 50px;
}

#crystal-3 {
    padding: 20px;
    position: absolute;
    left: 440px;
    top: 50px;
}

#crystal-4 {
    padding: 20px;
    position: absolute;
    left: 635px;
    top: 50px;
}

@media screen and (max-width: 1450px) {
    h1 {
        font-size: 24px;
    }
    #game-instructions {
        width: 300px;
        font-size: 18px;
    }
    #game-stats {
        padding: 20px;
        height: 150px;
        width: 500px;
        font-size: 24px;
    }
    #counter-text {
        position: absolute;
        left: 100px;
        top: 10px;
    }
    #target-text {
        position: absolute;
        left: 100px;
        top: 100px;
    }
    #wins-text {
        position: absolute;
        left: 400px;
        top: 10px;
    }
    #losses-text {
        position: absolute;
        left: 400px;
        top: 100px;
    }
    #crystals {
        padding: 5px 20px;
        height: 150px;
        width: 500px;
    }
    #crystal-1 {
        height: 50px;
        width: 60px;
        position: absolute;
        left: 20px;
    }
    #crystal-2 {
        height: 50px;
        width: 60px;
        left: 140px;
    }
    #crystal-3 {
        height: 50px;
        width: 60px;
        left: 260px;
    }
    #crystal-4 {
        height: 50px;
        width: 60px;
        left: 380px;
    }
}

@media screen and (max-width: 1100px) {
    #game-instructions {
        width: 200px;
    }
    #game-stats {
        padding: 10px;
        height: 150px;
        width: 450px;
        font-size: 20px;
        position: fixed;
        left: 100px;
    }
    #counter-text {
        position: absolute;
        left: 100px;
        top: 10px;
    }
    #target-text {
        position: absolute;
        left: 100px;
        top: 75px;
    }
    #wins-text {
        position: absolute;
        left: 300px;
        top: 10px;
    }
    #losses-text {
        position: absolute;
        left: 300px;
        top: 75px;
    }
    #crystals {
        padding: 5px 20px;
        height: 150px;
        width: 450px;
        position: fixed;
        left: 100px;
    }
    #crystal-1, #crystal-2, #crystal-3, #crystal-4 {
        height: 40px;
        width: 50px;
    }
}

@media screen and (max-width: 900px) {
    #game-stats {
        padding: 10px;
        height: 200px;
        width: 200px;
        position: fixed;
        left: 100px;
    }
    #counter-text {
        position: absolute;
        top: 30px;
        left: 50px;
    }
    #target-text {
        position: absolute;
        top: 60px;
        left: 50px;
    }
    #wins-text {
        position: absolute;
        top: 90px;
        left: 50px;
    }
    #losses-text {
        position: absolute;
        top: 120px;
        left: 50px;
    }
    #crystals {
        padding: 10px;
        height: 180px;
        width: 200px;
        position: fixed;
        left: 100px;
    }
    #crystal-1 {
        height: 30px;
        width: 35px;
        position: absolute;
        top: 30px;
        left: 20px;
    }
    #crystal-2 {
        height: 30px;
        width: 35px;
        top: 100px;
        left: 20px;
    }
    #crystal-3 {
        height: 30px;
        width: 35px;
        top: 30px;
        left: 120px;
    }
    #crystal-4 {
        height: 30px;
        width: 35px;
        top: 100px;
        left: 120px;
    }
}

